* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;
}

body {
  background-color: #0f172a;
  color: white;
}

/* links for navbar */
a {
  text-decoration: none;
  color: white;
  transition: 0.3s;
}

a:hover {
  color: #ec4899;
}

/* Global Button */
button {
  padding: 10px 18px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  background-color: #ec4899; /* pink color */
  color: white;
  font-weight: 500;
  transition: 0.3s;
}

button:hover {
  background-color: #f59e0b;
}

/* container */
.container {
  max-width: 1200px;
  margin: auto;
  padding: 40px 20px;
}
